.InputContainer {
    background-color: #fff;
    width: 38%;
    border-radius: 2px;
    margin-left: 13px;
    display: flex;
   margin-right: 300px;
}

.inputField {
    width: 100%;
    padding-left: 10px;
    font-size: unset;
    padding-top: 3px;
    
}

.search {
    color: #0000ff;
    padding-top: 5px;
    padding-right: 5px;
}

.myList {
    position: absolute !important;
    margin-top: 50px !important;
    background-color: #000;
    color: #fff;
 
    
}