.navBarImage {
    width: 64px;
}

.navContainer {
    display: flex;
    margin: 56px 130px 0px 130px;
    justify-content: space-between;
    overflow: overlay;
}

.navBar {
    padding: 12px 8px;
    text-align: center;
}

.textFont {
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: inherit !important;
}